<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title></title>
</head>
<body>
  <link rel="stylesheet" type="text/css" href="css/layout2.css">
    <h1 id = loichao>Xin chào bạn, Hãy chọn một thể loại mà bạn thích. Chúc bạn có một ngày vui vẻ.</h1>
    <h2>Cười nghiêng ngả, Cười sảng khoái</h2>
  <a href="http://localhost:3000/truyencuoinuocngoai" >
    <img src= "background/truyencuoinuocngoai.jpg" width="260" height="350">
  </a>
  <a href="http://localhost:3000/truyencuoithamthuy" >
    <img src="background/truyencuoithamthuy.jpg" width="260" height="350">
  </a>
  <a href="http://localhost:3000/truyencuoitinhyeu" >
    <img src="background/truyencuoitinhyeu.jpg" width="260" height="350">
  </a>
  <a href="http://localhost:3000/truyencuoidangian" >
    <img src="background/truyencuoidangian.jpg" width="260" height="350">
  </a>
  <a href="http://localhost:3000/theloaikhac" >
    <img src="background/theloaikhac.jpg" width="260" height="350">
  </a>

</body>
</html>
